/* TimelineBar.css */
.timeline-bar-container {
    width: 22%;
    margin: 1% 42%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-bar {
    width: 100%;
    appearance: none;
    height: 5px;
    background: #42ff91;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  
  .timeline-bar::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #121233;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .timeline-bar::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background:  #121233;
    border-radius: 50%;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .timeline-bar-container {
      width: 60%; 
      height: 8px; 
      margin: 10px 100px; 
    }
  
    .timeline-bar .progress {
      height: 100%;
      background-color: #f04;
      width: 0;
      border-radius: 5px;
    }
  }