body {
  background-image: url('/aesthetic_mountain_synthwave_retrowave_wallpaper_15435752.jpg');
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 120%;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: 'Arial', sans-serif;
}

input[type="file"] {
  margin-top: 15px;
  margin-left: 46%;
  background-color: rgb(23, 149, 63);
  width: 209px;
  height: 21px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0; 
    overflow-x: hidden; 
    overflow-y: hidden;
  }

  .app {
    margin-top: 10px; 
    padding: 10px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow-y: hidden; 
  }

  input[type="file"] {
    margin-top: 10px;
    margin-left: 120px;
    display: block;
  }
}
