body {
  background-image: url('—Pngtree—aesthetic mountain synthwave retrowave wallpaper_15435752.jpg');
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 100%;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: 'Arial', sans-serif;
}

input[type="file"] {
  margin-top: 10px;
  margin-left: 70%;
  background-color: rgb(8, 10, 132);
  width: 200px;
  height: 21px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body {
    background-size: cover; /* Adjust the background to cover the screen */
    background-position: center;
  }

  .app {
    margin-top: 10px; /* Adjust margin for smaller screens */
    padding: 10px;
  }

  input[type="file"] {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
  }
}
